# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# IDE
.vscode/
node_modules

echo "node_modules/" > .gitignore
echo ".next/" >> .gitignore
echo "out/" >> .gitignore